{% extends "layout.html" %}

{% block content %}
<div class="container">
  <div class="row mt-4 mb-4">
    <div class="col-3">
      <h2>Current Gas Price</h2>
        {{ current_gas_price / 1000000000}} Gwei
    </div>
    <div class="col-3">
      <h2>Past Gas Prices</h2>
        {{ gas_fees }} Gwei
    </div>
    <div class="col-3">
      <h2>Block Number</h2>
        {{ current_block_number }}
    </div>
    <div class="col-3">
      <h2>Total Validators</h2>
        {{ n_validators }}
    </div>
    <div class="col-3">
      <h2>Avg Block Time</h2>
        {{ avg_block_time }}
    </div>
    <div class="col-3">
      <h2>Transaction TPS</h2>
        {{ tps }}
    </div>
  </div>
  <div class="row">
     <div class="col-6">
       <h3>Latest Blocks</h3>
       <table class="table table-striped">
         {% for block in latest_blocks %}
         <tr>
           <td>
             <h5>Block</h5>
             <a href="/block/{{ block.block_number }}">{{ block.block_number }}</a>
             <p>{{ (current_time - block.timestamp)|int }} seconds ago</p>
           </td>
           <td>
             <h5>Miner</h5>
                {{ block.miner.lower() }}
             <p>
               {{ block.transactions|length }} transactions
             </p>
           </td>
            <td>
           <h5>Gas Price</h5>
           <p>{{ block.base_fee_per_gas / 1000000000}} Gwei</p>
         </td>
         </tr>
         {% endfor %}
       </table>
     </div>
    <div class="col-6">
      <h3>Latest Transactions</h3>
      <table class="table table-striped">
        {% for t in latest_transactions %}
        <tr>
          <td>
            <p>
              <strong>Address</strong>
              <a href="/tx/{{ t.hash }}">{{ t.hash }}</a>
            </p>
            <p>
              <strong>Block Number</strong>
              <a href="/block/{{ t.block_number }}">{{ t.block_number }}</a>
            </p>
            <p>
              <strong>Gas Price</strong>
              <a>{{ t.gas_price }}</a>
            </p>
            <p>
              <strong>Gas</strong>
              <a>{{ t.gas }}</a>
            </p>
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
    <div class="col-6">
      <h3>Sample Validators</h3>
      <table class="table table-striped">
        {% for validator in validators %}
        <tr>
          <td>
            <p>
              <strong>Address</strong>
              <a href="/validator/{{ validator.address }}">{{ validator.address }}</a>
            </p>
            <p>
              <strong>Tokens</strong>
              <a>{{ validator.tokens }}</a>
            </p>
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>


{% endblock%}