{% extends "layout.html" %}

{% block content %}
<table class="table table-dark table-striped">
    <tr>
        <td>Block Hash:</td>
        <td><a href="/block/{{ transaction.block_number }}">{{ transaction.block_hash }}</td>
    </tr>
    <tr>
        <td>Block Number:</td>
        <td><a href="/block/{{ transaction.block_number }}">{{ transaction.block_number }}</td>
    </tr>
    <tr>
        <td>Transaction Hash:</td>
        <td>{{ transaction.hash }}</td>
    </tr>
    <tr>
        <td>From:</td>
        <td>
<!--            <a href="/address/{{ transaction.created_from }}">{{ transaction.created_from }}</a>-->
            {{ transaction.created_from }}
        </td>
    </tr>
    <tr>
        <td>To:</td>
        <td>
<!--            <a href="/address/{{ transaction.created_to }}">{{ transaction.created_to }}</a>-->
            {{ transaction.created_to }}
        </td>
    </tr>
    <tr>
        <td>Gas:</td>
        <td>{{ transaction.gas }}</td>
    </tr>
    <tr>
        <td>Gas Price:</td>
        <td>{{ transaction.gas_price / 1_000_000_000 }} MicroEvmos </td>
    </tr>
    <tr>
        <td>Max Fee Per Price:</td>
        <td>{{ transaction.max_fee_per_gas / 1_000_000_000 }} MicroEvmos</td>
    </tr>
    <tr>
        <td>Max Priority Fee Per Gas:</td>
        <td>{{ transaction.max_priority_fee_per_gas / 1_000_000_000 }} MicroEvmos</td>
    </tr>
</table>

{% endblock%}